In [28]:
#Importamos la librería pandas que necesitamos para la lectura, conversión y limpieza de los datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re 

#Importamos librerías necesarias para la visualización
# -----------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

from scipy.stats import shapiro, kstest
from itertools import combinations  # para las medidas de correlación
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
# pd.set_option('display.max_rows', None) # para poder visualizar todas las filas de los DataFrames

In [29]:
from src import Functions

In [23]:
#pasar a df

df_flight = pd.read_csv('Customer Flight Activity.csv')
df_loyalty = pd.read_csv('Customer Loyalty History.csv')

In [24]:
#pre visualizacion

df_flight.head(2)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0

In [25]:
#pre visualizacion

df_loyalty.head(2)

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN

In [40]:
exploracion_datos(df_flight)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 405624.
El número de columnas es de 10

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Loyalty Number: 16737
La columna Year: 2
La columna Month: 12
La columna Flights Booked: 22
La columna Flights with Companions: 12
La columna Total Flights: 33
La columna Distance: 4746
La columna Points Accumulated: 1549
La columna Points Redeemed: 587
La columna Dollar Cost Points Redeemed: 49
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Loyalty Number: 388887
La columna Year: 405622
La columna Month: 405612
La columna Flights Booked: 405602
La columna Flights with Companions: 405612
La columna Total Flights: 405591
La columna Distance: 400878
La columna Points Accumulated: 404075
La columna Points Redeemed: 405037
La columna Dollar Cost Points Redeemed: 405575
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

                                count           mean            std       min  \
Loyalty Number               405624.0  550037.873084  258935.286969  100018.0
Year                         405624.0    2017.500000       0.500001    2017.0
Month                        405624.0       6.500000       3.452057       1.0
Flights Booked               405624.0       4.115052       5.225518       0.0
Flights with Companions      405624.0       1.031805       2.076869       0.0
Total Flights                405624.0       5.146858       6.521227       0.0
Distance                     405624.0    1208.880059    1433.155320       0.0
Points Accumulated           405624.0     123.692721     146.599831       0.0
Points Redeemed              405624.0      30.696872     125.486049       0.0
Dollar Cost Points Redeemed  405624.0       2.484503      10.150038       0.0

                                   25%       50%        75%       max
Loyalty Number               326961.00  550834.0  772194.00  999986.0
Year                           2017.00    2017.5    2018.00    2018.0
Month                             3.75       6.5       9.25      12.0
Flights Booked                    0.00       1.0       8.00      21.0
Flights with Companions           0.00       0.0       1.00      11.0
Total Flights                     0.00       1.0      10.00      32.0
Distance                          0.00     488.0    2336.00    6293.0
Points Accumulated                0.00      50.0     239.00     676.5
Points Redeemed                   0.00       0.0       0.00     876.0
Dollar Cost Points Redeemed       0.00       0.0       0.00      71.0
___________________ Variables Categóricas _________________

No hay variables categóricas en el DataFrame.

In [41]:
exploracion_datos(df_loyalty)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 16737.
El número de columnas es de 16

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Loyalty Number: 16737
La columna Country: 1
La columna Province: 11
La columna City: 29
La columna Postal Code: 55
La columna Gender: 2
La columna Education: 5
La columna Salary: 5891
La columna Marital Status: 3
La columna Loyalty Card: 3
La columna CLV: 7984
La columna Enrollment Type: 2
La columna Enrollment Year: 7
La columna Enrollment Month: 12
La columna Cancellation Year: 7
La columna Cancellation Month: 13
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Loyalty Number: 0
La columna Country: 16736
La columna Province: 16726
La columna City: 16708
La columna Postal Code: 16682
La columna Gender: 16735
La columna Education: 16732
La columna Salary: 10846
La columna Marital Status: 16734
La columna Loyalty Card: 16734
La columna CLV: 8753
La columna Enrollment Type: 16735
La columna Enrollment Year: 16730
La columna Enrollment Month: 16725
La columna Cancellation Year: 16730
La columna Cancellation Month: 16724
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

                      count           mean            std        min  \
Loyalty Number      16737.0  549735.880445  258912.132453  100018.00
Salary              12499.0   79245.609409   35008.297285  -58486.00
CLV                 16737.0    7988.896536    6860.982280    1898.01
Enrollment Year     16737.0    2015.253211       1.979111    2012.00
Enrollment Month    16737.0       6.669116       3.398958       1.00
Cancellation Year    2067.0    2016.503145       1.380743    2013.00
Cancellation Month   2067.0       6.962748       3.455297       1.00

                          25%        50%        75%        max
Loyalty Number      326603.00  550434.00  772019.00  999986.00
Salary               59246.50   73455.00   88517.50  407228.00
CLV                   3980.84    5780.18    8940.58   83325.38
Enrollment Year       2014.00    2015.00    2017.00    2018.00
Enrollment Month         4.00       7.00      10.00      12.00
Cancellation Year     2016.00    2017.00    2018.00    2018.00
Cancellation Month       4.00       7.00      10.00      12.00
___________________ Variables Categóricas _________________

                 count unique       top   freq
Country          16737      1    Canada  16737
Province         16737     11   Ontario   5404
City             16737     29   Toronto   3351
Postal Code      16737     55   V6E 3D9    911
Gender           16737      2    Female   8410
Education        16737      5  Bachelor  10475
Marital Status   16737      3   Married   9735
Loyalty Card     16737      3      Star   7637
Enrollment Type  16737      2  Standard  15766

In [44]:
merge_inner(df_flight, df_loyalty, 'Loyalty Number', 'Loyalty Number' )

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100018,2017,2,2,2,4,1320,132.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
2,100018,2018,10,6,4,10,3110,311.0,385,31,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
3,100018,2017,4,4,0,4,924,92.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
4,100018,2017,5,0,0,0,0,0.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405619,999891,2018,8,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405620,999891,2018,9,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405621,999891,2018,10,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405622,999891,2018,11,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405623,999891,2018,12,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0